<section class="card-wrapper">
  <div class="card">
    <div class="post-wrapper">
      <article class="card-header">
        <h2>
          [<span class="numbered-post">{{id}}</span>]{{title}}
        </h2>
        <p class="date-and-time">
          Posted by
          {{blogger.username}}
          <span id="blogger-id">{{blogger.id}}</span>
        </p>
      </article>

      <article class="post-body">
        <p>
          {{detail}}
        </p>
      </article>
    </div>
    <form class="card-wrapper">
      <article class="new-post-form">
        <label class="form-detail" for="comment-detail">Type your comment below:</label>
        <textarea
          class="form-detail"
          id="comment-detail"
          name="comment-detail"
          placeholder="Commenting as {{blogger_name}}(Member ID:{{blogger_id}})..."
        ></textarea>
      </article>

      <button
        type="submit"
        class="submitCommentBtn"
        data-id="{{post.id}}"
      >Submit your comment</button>
    </form>
  </div>

  {{! renders list of comments if they exist }}
  <article class="card-wrapper">

    {{#if comments.length}}
      <h3>{{comments.length}} Comments:</h3>
      {{#each comments as |comment|}}
        <div class="card">
          <p class="card-detail" id="commenter">Member says:</p>
          <p class="card-detail">{{detail}}</p>
        </div>
      {{/each}}
    {{/if}}
  </article>
</section>

<script src="/js/comment.js"></script>