<section class="card-wrapper">
  <div class="card">
    <div class="post-wrapper">
      <article class="card-header">
        <h2>
          {{title}}
        </h2>
        <p class="date-and-time">
          Posted by
          {{blogger.username}}
          <span id="blogger-id">{{blogger_id}}</span>
        </p>
      </article>

      <article class="post-body">
        <p>
          {{detail}}
        </p>
      </article>
    </div>
    <form class="card-wrapper">
      <article class="new-post-form">
        <label class="form-detail" for="comment-detail">Type your comment below:</label>
        <textarea
          class="form-detail"
          id="comment-detail"
          name="comment-detail"
        ></textarea>
      </article>

      <button
        type="submit"
        class="submitCommentBtn"
        data-id="{{post.id}}"
      >Submit your comment</button>
    </form>
  </div>
  {{! renders list of comments if they exist }}

  <article class="card">
    {{#if comments.length}}
      <h3>Comments:</h3>
      {{#each comments as |comment|}}
        <div class="form-group">
          <p class="comment-title">Comment:</p>
          <p class="comment-title">{{blogger_id}}</p>
          <p class="comment-title">{{detail}}</p>
        </div>
      {{/each}}
    {{/if}}
  </article>
</section>

<script src="/js/comment.js"></script>