<section class="card-wrapper">
  <div class="card">
    <div class="post-wrapper">
      <article class="card-header">
        <h2 class="post-title">
          [<span id="numbered-post">{{id}}</span>]{{title}}
        </h2>
        <p>
          Posted by
          {{blogger.username}}
          on
          {{format_date date_created}}
        </p>
      </article>

      <article class="post-body">
        <p>
          {{detail}}
        </p>
      </article>
    </div>
    <form class="card">

      <label class="form-detail" for="comment-detail">Type your comment below:</label>
      <textarea
        class="form-detail"
        id="comment-detail"
        name="comment-detail"
        placeholder="Commenting as {{blogger_name}}..."
      ></textarea>

      <button
        type="submit"
        class="submitCommentBtn"
        data-id="{{post.id}}"
      >Submit your comment</button>
    </form>
  </div>

  {{! renders list of comments if they exist }}

  {{#if comments.length}}
    <article class="card">
      <h3>{{comments.length}} Comments:</h3>
      {{#each comments as |comment|}}

        <div class="card">
          <p class="card-detail" id="comment">
            {{comment.blogger.username}}
            says:
          </p>
          <p class="card-detail">{{detail}}</p>
        </div>
      {{/each}}
    </article>
  {{/if}}

  <span id="current-user">{{blogger_id}}</span>
</section>

<script src="/js/comment.js"></script>