<div class="col-auto">
  <h2>Welcome, {{username}}!</h2>
</div>

{{#if posts.length}}
  <section class="post-list">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}

      <div class="">
        <h4><a href="/post/{{id}}">{{title}}</a></h4>
        <p>{{{format_date date_created}}}</p>
      </div>
      <div class="">
        <button class="deleteBtn" data-id="{{post.id}}">DELETE</button>
      </div>

    {{/each}}
  </section>
{{/if}}

<script src="/js/dashboard.js"></script>