<section class="card-wrapper">
  <article>
    <h2>Welcome, <span class="current-user">{{username}}</span>!</h2>
  </article>
  <h3>Current Posts:</h3>
  {{#if posts.length}}
    <article class="card">

      {{#each posts as |post|}}

        <h4 class="card-header">
          <a href="/dashboard/post/{{id}}" data-id="{{id}}">

            {{id}}:
            {{title}}
          </a>
          <p>{{{format_date date_created}}}</p>
        </h4>

      {{/each}}
    </article>
  {{/if}}
  <a href="/new-post" class="add-new-post">+</a>
</section>