<section class="card-wrapper">
  <article>
    <h2>Welcome, <span class="current-user">{{username}}</span>!</h2>
  </article>

  {{#if posts.length}}
    <article class="card-wrapper">
      <h3>Current Posts:</h3>

      {{#each posts as |post|}}

        <div class="card">
          <a href="/dashboard/post/{{id}}" data-id="{{id}}">
            <h4>
              {{id}}:
              {{title}}
            </h4>

            <p>{{{format_date date_created}}}</p>
          </a>
        </div>
      {{/each}}
    </article>
  {{/if}}
  <a href="/new-post" class="add-new-post">+</a>
</section>