<section class="card-wrapper">
  <article>
    <h2>Welcome, <span class="welcome-name">{{username}}</span> !</h2>
  </article>
  <a href="/new-post" class="add-new-post">+</a>

  {{#if posts.length}}
    <h3>Your Posts:</h3>
    <article class="card">

      {{#each posts as |post|}}

        <h4 class="card-header post-title">
          <a href="/post/{{id}}" data-id="{{id}}">
            {{id}}:
            {{title}}
          </a>
          <p>{{{format_date date_created}}}</p>
        </h4>

      {{/each}}
    </article>
  {{else}}
    <p class="notice">No posts here! Click the blue plus button above to start
      creating!</p>
  {{/if}}

</section>