<!--enter div components here-->
{{#each posts as |post|}}
  <section class="post-card">
    <article class="post-card-title">
      <a href="/post/{{post.id}}">
        <h3><span class="numbered-post">{{id}}</span>{{post.title}}</h3>
        <p class="blog-author">{{blogger.username}}</p>
      </a>
    </article>
    <article class="post-card-detail">
      <p>
        {{post.detail}}
      </p>
    </article>
  </section>
{{/each}}