<!--enter div components here-->
{{#each posts as |post|}}
  <section class="post-card">
    <article class="post-card-title">
      {{#if logged_in}}
        <a href="/dashboard-post/{{post.id}}"></a>
      {{else}}
        <a href="/post/{{post.id}}">
          <h3><span class="numbered-post">{{id}}</span>{{post.title}}</h3>
          <p class="blog-author">{{blogger.username}}</p>
        </a>

      {{/if}}

    </article>
    <article class="post-card-detail">
      <p>
        {{post.detail}}
      </p>
    </article>
  </section>
{{/each}}