{{!-- <h2>Welcome, <span id="current-user">{{username}}</span>!</h2> --}}
<section class="post-card">
  <article class="post-card-title">

    <h3>{{title}}</h3>
  </article>
  <article class="post-card-detail">
    <p><span id="blogger-username">{{blogger.username}}</span>
      says:
    </p>
    <p>
      {{detail}}
    </p>
  </article>
  <a href="/post/{{id}}/comment">
    <div class="comment">
      <button class="commentBtn" data-id="{{id}}">Add a Comment</button>
    </div>
  </a>
</section>

<section class="comment-wrapper">

  {{#if comments.length}}
    <article class="comment-list">
      <h3>Current Posts:</h3>

      {{#each comments as |comment|}}

        <div class="comment-card">
          <h4>
            {{id}}:
          </h4>

          <p>{{{format_date date_created}}}</p>
          <p>{{detail}}</p>

        </div>
      {{/each}}
    </article>
  {{/if}}
</section>

{{! <script src="/js/comment.js"></script> }}