<section class="post-card">
  <div class="top">
    <article class="post-card-header">
      <h2>
        {{title}}
      </h2>
      <p class="date-and-time">
        Posted by
        {{blogger.username}}
        on
        {{{format_date date_created}}}
      </p>
    </article>

    <article class="post-body">
      <p>
        {{detail}}
      </p>
    </article>
  </div>
  <div class="bottom">
    <form class="new-comment-form">
      <div class="comment-form-group">
        <label for="comment-detail">Type your comment below:</label>
        <textarea
          class="form-input"
          id="comment-detail"
          name="comment-detail"
        ></textarea>
      </div>
      <div class="comment-form-group">
        <button
          type="submit"
          class="submitCommentBtn"
          data-id="{{post.id}}"
        >Submit your comment</button>
      </div>
    </form>
  </div>
</section>

{{! <script src="/js/post.js"></script> }}