<div class="card">
  <section class="new-post-card">
    <h3>Edit Post:
      <span id="author">{{blogger.username}}</span></h3>

    <form class="new-post-form">
      <article class="new-post-group">
        <label for="post-title">Post Title:</label>
        <textarea
          class="form-input"
          type="text"
          id="update-title"
          name="update-title"
        >{{title}}</textarea>
      </article>
      <article class="new-post-form">
        <label for="post-detail">Type details below:</label>
        <textarea
          class="update-detail"
          id="update-detail"
          name="update-detail"
        >{{detail}}</textarea>
      </article>

      <article class="update-delete">
        <button class="updateBtn" data-id="{{id}}">UPDATE</button>
        <button class="deleteBtn" data-id="{{id}}">DELETE</button>
      </article>

    </form>
  </section>
</div>

<script src="/js/post.js"></script>