<div class="card-wrapper">
  <section class="card">

    {{!-- <span id="author">{{blogger.username}}</span></h3> --}}
    <h3>Edit Post:</h3>
    <form class="new-post-form">
      <article class="new-post-group">
        <label for="post-title">Post Title:</label>
        <textarea
          class="form-input"
          type="text"
          id="update-title"
          name="update-title"
        >{{title}}</textarea>
      </article>
      <article class="new-post-form">
        <label for="post-detail">Type details below:</label>
        <textarea
          class="update-detail"
          id="update-detail"
          name="update-detail"
        >{{detail}}</textarea>
      </article>

      <article class="update-delete">
        <button class="updateBtn" data-id="{{id}}">UPDATE</button>
        <button class="deleteBtn" data-id="{{id}}">DELETE</button>
      </article>

    </form>
  </section>

  {{#if comments.length}}
    <article class="card">
      <h3>{{comments.length}} Comments:</h3>

      {{#each comments as |comment|}}

        <div class="card">
          <p class="card-detail" id="commenter">
            {{comment.blogger.username}}
            says:
          </p>
          <p class="card-detail">{{detail}}</p>
        </div>
      {{/each}}
    </article>
  {{/if}}

</div>

<script src="/js/post.js"></script>